<!DOCTYPE html>

{% extends 'staff/base_event_view.html' %}

{% load staticfiles %}

{% block body_block %}
<div class="page-header">
    <h2>
        With this view, people are invited which registered themself with
        contact information, do not have a bicycle and are not invited
        elsewhere.
        The winners will be selected automatically and receive immediately
        a notification.
    </h2>
</div>

<form id="closeForm" method="POST" class="post-form">
    {% csrf_token %}
    <div class="form-group row">
        <div class="col-xs-3" style="height:15px;"></div>
    </div>

    {% for id, choice in bike_choices %}
        <div class="form-group row">
            <label class="col-xs-2 control-label">
                {{choice}}
            </label>
            <div class="col-xs-2">
                <input class="form-control" type="number" min="0"
                name="choice_{{id}}" value="0" required>
            </div>
        </div>
    {% endfor %}

    <input name="event_id" type="hidden" value="{{ event.id }}"/>

    <div class="form-group row">
        <div class="col-xs-2" style="height:10px;"></div>
    </div>

    <div class="form-group row">
        <div class="col-xs-2">
            <a href="{% url 'staff:event' event_id=event.id %}"
            class="btn btn-info btn-block" role="button">
                Cancel
            </a>
        </div>
        <div class="col-xs-2">
            <button class="btn btn-info btn-block" type="submit" value="Submit">
                Submit
            </button>
        </div>
    </div>
</form>
{% endblock %}
