<!DOCTYPE html>

{% extends base_template_name %}

{% block body_block %}
<div class="page-header">
    <h2>
        {{ candidate.first_name }} {{ candidate.last_name }}
        {{ candidate.date_of_birth|date:'DATE_FORMAT' }}
    </h2>
</div>

    {% block sub_body_block %}
    {% endblock %}

    {% block back_button %}
    <div class="form-group row">
        <div class="col-xs-3">
            <a href="{% url 'staff:candidate' candidate_id=candidate.id%}{{event.url_parameter}}{{bicycle.url_parameter}}"
            class="btn btn-info btn-block" role="button">
                Back
            </a>
        </div>
    </div>
    {% endblock %}

{% endblock %}
