<!DOCTYPE html>

{% extends 'base.html' %}

{% load staticfiles %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}


{% block head_block %}
    <link href="{% static 'django_tables2/bootstrap.css' %}" rel="stylesheet" />
{% endblock %}


{% block body_block %}
    <div class="page-header">
        <h2>
            Overview of all bicycles that have been handed out so far.
        </h2>
    </div>
    {% crispy filter.form %}
    {{ bicycles.rows|length }}
    {% if bicycles.rows|length == 1 %}
    match
    {% else %}
    matches
    {% endif %}
    {% render_table bicycles %}
{% endblock %}
