<!DOCTYPE html>

{% extends 'staff/base_staff.html' %}

{% load staticfiles %}

{% block body_block %}
<div class="page-header">
    <h2>
        {% load i18n %}{% blocktrans %}
        Create a new event for people to register for a new bicycle.
        {% endblocktrans %}
    </h2>
</div>

<form id="createForm" method="POST" class="post-form">
    {% csrf_token %}
    <div class="form-group row">
        <div class="col-xs-3" style="height:15px;"></div>
    </div>
    
    <div class="form-group row">
        <label class="col-xs-2 control-label">
            {% trans "Date and time of the event" %}
        </label>
        <div class='col-xs-4'>
            <div class='input-group date' id='datetimepicker1'>
                <input type='text' name="date_time" class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            $('#datetimepicker1').datetimepicker({
                locale: 'de',
                defaultDate: moment(new Date()).hours(18).minutes(0)
            });
        });
    </script>

    <div class="form-group row">
        <label class="col-xs-2 control-label">
            {% trans "Maximum number of registrations" %}
        </label>
        <div class="col-xs-2">
            <input class="form-control" type="number" name="max_registrations"
            min="0" value="200" required>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-xs-2" style="height:10px;"></div>
    </div>

    <div class="form-group row">
        <div class="col-xs-2">
            <a href="{% url 'staff:index' %}" class="btn btn-info btn-block"
            role="button">
                {% trans "Cancel" %}
            </a>
        </div>
        <div class="col-xs-2">
            <button class="btn btn-info btn-block" type="submit"
            value="Submit">
                {% trans "Submit" %}
            </button>
        </div>
    </div>
</form>
{% endblock %}
