<!DOCTYPE html>

{% extends 'staff/base_event_view.html' %}

{% load staticfiles %}

{% block body_block %}
<div class="page-header">
    <h2>
        Create a new event to invite people from the waiting list and
        to handout bicycles.
    </h2>
</div>

<form id="createForm" method="POST" class="post-form">
    {% csrf_token %}
    <div class="form-group row">
        <div class="col-xs-3" style="height:15px;"></div>
    </div>

    <div class="form-group row">
        <label class="col-xs-2 control-label">
            Date and time of the event
        </label>
        <div class='col-xs-4'>
            <div class='input-group date' id='datetimepicker1'>
                <input type='text' name="due_date" class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-xs-2" style="height:10px;"></div>
    </div>

    <div class="form-group row">
        <div class="col-xs-2">
            <a href="{% url 'staff:event_overview' %}"
            class="btn btn-info btn-block" role="button">
                Cancel
            </a>
        </div>
        <div class="col-xs-2">
            <button class="btn btn-info btn-block" type="submit"
            value="Submit">
                Submit
            </button>
        </div>
    </div>
</form>
{% endblock %}

{% block script_block %}
<script>
    {% get_current_language as LANGUAGE_CODE %}
    $(function () {
        $('#datetimepicker1').datetimepicker({
            locale: '{{ LANGUAGE_CODE }}',
            defaultDate: moment(new Date()).hours(18).minutes(0)
        });
    });
</script>
{% endblock %}
