<!DOCTYPE html>

{% extends 'staff/base_candidate_view.html' %}

{% block body_block %}
<div class="page-header">
    <h2>
        Create a new person in the database. This could be needed for people
        who do not have a mobile phone or email.
    </h2>
</div>
<h3>
The date of birth, first and last name are used to uniquely identify people in
the database. This information should match with their passports.
</h3>
<br>
{% load crispy_forms_tags %}
{% crispy form %}

<div class="form-group row">
    <div class="col-xs-3">
        <a href="{% url 'staff:candidate_overview' %}"
        class="btn btn-info btn-block" role="button">
            Back
        </a>
    </div>
</div>
{% endblock %}
