<!DOCTYPE html>

{% extends 'staff/base_candidate.html' %}

{% block sub_body_block %}    
<form id="handoverForm" method="POST" class="post-form">
    {% csrf_token %}
    <h3>{% load i18n %}{% trans "Handover of bicycle" %}</h3>
    <div class="form-group row">
        <div class="col-xs-3" style="height:15px;"></div>
    </div>
    
    <div class="form-group row">
        <label class="col-xs-2 control-label">
            {% trans "Bicycle number" %}
        </label>
        <div class="col-xs-2">
            <input class="form-control" name="bicycle_number" type="number"
            placeholder="bicycle number" min="0" required/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-xs-2 control-label">
            {% trans "Lock combination" %}
        </label>
        <div class="col-xs-2">
            <input class="form-control" name="lock_combination" type="number"
            placeholder="lock combination" min="0" required/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-xs-2 control-label">
            {% trans "Color" %}
        </label>
        <div class="col-xs-4">
            <input class="form-control" name="color" type="text"
                   maxlength="200" placeholder="color" required/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-xs-2 control-label">
            {% trans "Brand" %}
        </label>
        <div class="col-xs-4">
            <input class="form-control" name="brand" type="text"
                   maxlength="200" placeholder="brand" required/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-xs-2 control-label">
            {% trans "General remarks" %}
        </label>
        <div class="col-xs-6">
            <textarea class="text" name="general_remarks"
            id="general_remarks" placeholder="general remarks"
            rows="5" cols="60" form="handoverForm"></textarea>
        </div>
    </div>
    
    <input name="candidate_id" type="hidden" value="{{ candidate.id }}"/>
    <input name="event_id" type="hidden" value="{{ event.id }}"/>

    <div class="form-group row">
        <div class="col-xs-2" style="height:10px;"></div>
    </div>

    <div class="form-group row">
        <div class="col-xs-3">
            <button class="btn btn-info btn-block" type="submit" 
            value="Submit">
                {% trans "Submit" %}
            </button>
        </div>
    </div>
</form>
{% endblock %}
