<!DOCTYPE html>

{% extends 'staff/base_event_view.html' %}

{% load staticfiles %}

{% block body_block %}
    <div class="page-header">
        <h2>
            {% load i18n %}{% trans "Staff page to create new events and manage them." %}
        </h2>
    </div>
    <h3>
        {% trans "Existing events can be selected on the left." %}
        <br><br>
        <a href="{% url 'staff:create_event' %}" class="btn btn-info" role="button">
            {% trans "Create new event" %}
        </a>
    </h3>
{% endblock %}
