{% extends 'base.html' %}

{% load staticfiles %}

{% block body_block %}
    <div class="page-header">
        {% load i18n %}{% trans "Hello " %}
        {{ registration.candidate.first_name }},
    </div>
    {% if first_time %}
        {% blocktrans %}Thank you for validating your
        email address.{% endblocktrans %}
        <br>
    {% endif %}
    {% trans "Currently you are number" %} {{ registration.number_in_line }}
    {% trans "in line waiting for a" %}
    {{ registration.get_bicycle_kind_display }}.
{% endblock %}
