{% extends 'base.html' %}

{% load solo_tags %}

{% block body_block %}
    <div class="page-header">
        {% load i18n %}{% trans "How does it work?" %}
    </div>

    {% blocktrans %}BwB volunteers repair and sell donated bikes
    together with refugees for refugees.{% endblocktrans %}
    <ol class="custom-table">
        <li class="custom-row">
            {% blocktrans %}Register online with your email address or your
            phone number: you are now on our waiting list.{% endblocktrans %}
        </li>
        <li class="custom-row">
            {% trans "Wait until you get invitation from us by email or sms." %}
        </li>
        <li class="custom-row">
            {% trans "Confirm the invitation, if you have time to pick up your bike." %}
        </li>
        <li class="custom-row">
            {% trans "Come to our Workshop and bring your passport or registration document." %}
        </li>
        <li class="custom-row">
            {% trans "Repair your bike together with us, buy it for 10€ and get a lock." %}
        </li>
    </ol>
    {% get_solo 'register.SiteConfiguration' as site_config %}
    {% if site_config.maintenance_mode %}
    <div class="alert alert-danger">
        {{ site_config.maintenance_message|linebreaks }}
    </div>
    {% elif open_for_registration %}
    <div class="form-group row">
        <div class="col-xs-12 col-md-5">
            <a href="{% url 'register:registration' %}"
            class="btn btn-info btn-lg btn-block">
                {% trans "Register now!" %}
            </a>
        </div>
    </div>
    {% else %}
    <div class="alert alert-danger">
        {{ too_many_registrations_error|linebreaks }}
    </div>
    {% endif %}
{% endblock %}
