<!DOCTYPE html>

{% extends 'base.html' %}

{% load staticfiles %}

{% block body_block %}
    <div class="page-header">
        <h2>{% load i18n %}{% trans "I need a bicycle!" %}</h2>
    </div>
    <h3>
        {% trans "Some informations we would like you to know:" %}
        <ul>
            <li>{% trans "Volunteers welcome" %}</li>
            <li>{% trans "Keep smiling" %}</li>
            <li>...</li>
        </ul>
        <br>
        {% trans "Click on the following link to register for a bike:" %}
        <br><br>
        {% if open_for_registration %}
        <div class="form-group row">
            <div class="col-xs-12 col-md-3">
                <a href="{% url 'register:registration' %}"
                class="btn btn-info btn-block">
                    Register now!
                </a>
            </div>
        </div>
        {% endif %}
    </h3>
{% endblock %}
