<!DOCTYPE html>

{% extends 'base.html' %}

{% load staticfiles %}

{% block body_block %}
    <div class="page-header">
        <h1>
            {% load i18n %}{% trans "Thank you for registering for a bike!" %}
        </h1>
    </div>

    <h2>{% blocktrans %}Via email you received a link you need to click to
    verify your email address.{% endblocktrans %}</h2>

    <h2>{% blocktrans %}Furthermore, you can use this link to check your
    current status.{% endblocktrans %}</h2>

    <h2>{% blocktrans %}Currently, there are a
    total number of {{ number_in_line }} people waiting
    for a bike.{% endblocktrans %}</h2>
{% endblock %}
