<!DOCTYPE html>


<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="Michael Bratsch">
        <link rel="shortcut icon" type="image/x-icon"
        href="{% load staticfiles %}{% static 'logo/bwb.png' %}"/>

        <title>{% load i18n %}{% trans "Bikes without Borders" %}</title>

        {% load staticfiles %}
        <link href="{% static 'css/base.css' %}" rel="stylesheet">

        <!-- ToDo: use custom stylesheet -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        rel="stylesheet">
            <link href="https://getbootstrap.com/docs/3.3.7/examples/dashboard/dashboard.css"
        rel="stylesheet">

        {% load staticfiles %}
        <link href="{% static 'css/button.css' %}" rel="stylesheet">
        <link href="{% static 'css/form.css' %}" rel="stylesheet">

        {% block head_block %}{% endblock %}
    </head>

    <body>
        {% include "base_navbar.html" %}

        <!-- Fixes that first line is hiding in navbar. -->
        p {margin: 0em;}

        <div class="container-fluid">
            <div class="row">
                {% block side_bar_block %}{% endblock %}
                <div class="col-sm-9 col-sm-offset-3 col-md-8 col-md-offset-2 main">
                    <div>
                        {% block body_block %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
        
        {% include "base_footer.html" %}

        <!-- External sources. Placed at the end of the document so the pages load faster -->

        <!-- Jquery -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>

        <!-- Moment -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/locale/de.js"></script>

         <!-- Bootstrap -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css"
        property="stylesheet">

        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<!--<script src="https://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>-->

        <!-- Datetimepicker -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css"
        property="stylesheet">

        {% block script_block %}{% endblock %}


        {% load staticfiles %}
        <link href="{% static 'css/base.css' %}" rel="stylesheet"
        property="stylesheet">

    </body>
</html>
