<!DOCTYPE html>


<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="Michael Bratsch">
        <link rel="shortcut icon" type="image/x-icon"
        href="{% load staticfiles %}{% static 'bwb_icon.png' %}"/>

        <title>{% load i18n %}{% trans "Bikes without Borders" %}</title>

        <!-- ToDo: use custom stylesheet -->
        <link href="https://getbootstrap.com/dist/css/bootstrap.min.css"
        rel="stylesheet">
        <link href="https://getbootstrap.com/examples/dashboard/dashboard.css"
        rel="stylesheet">
    </head>

    <body>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'register:greeting' %}">
                        {% load i18n %}{% trans "Bikes without Borders" %}
                    </a>
                </div>

                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <form action="{% url 'index' %}" method="post"
                        class="navbar-form navbar-right">
                            {% csrf_token %}
                            <div class="form-group">
                                <select name="language" class="form-control"
                                onchange="this.form.submit()">
                                    {% get_current_language as LANGUAGE_CODE %}
                                    {% get_available_languages as LANGUAGES %}
                                    {% get_language_info_list for LANGUAGES as languages %}
                                    {% for language in languages %}
                                    <option value="{{ language.code }}"
                                        {% if language.code == LANGUAGE_CODE %}
                                        selected="selected" {% endif %}>
                                        {{ language.name_local }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </form>
                        <li class="active">
                            <a href="">1 How?</a>
                        </li>
                        <li>
                            <a href="">2 Register</a>
                        </li>
                        <li>
                            <a href="">3 Finish</a>
                        </li>
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'staff:event_overview' %}">
                                {% trans "Event View" %}
                            </a></li>
                            <li><a href="{% url 'staff:candidate_overview' %}">
                                {% trans "Candidate View" %}
                            </a></li>
                            <li><a href="{% url 'staff:bicycle_overview' %}">
                                {% trans "Bicycle View" %}
                            </a></li>
                            <li><a href="{% url 'logout' %}?next=/">
                                {% trans "Logout" %}
                            </a></li>
                        {% else %}
                            <li><a href="{% url 'login' %}">
                                {% trans "Login" %}
                            </a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            {% block side_bar_block %}{% endblock %}
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <div>
                    {% block body_block %}{% endblock %}
                </div>
            </div>
        </div>

        <!-- External sources. Placed at the end of the document so the pages load faster -->

        <!-- Jquery -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>

        <!-- Moment -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/locale/de.js"></script>

        <!-- Jquery Ui -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

        <!-- Options and internationalization for datepicker -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/i18n/jquery-ui-i18n.min.js"></script>
        <!-- Set default options for datepicker -->
        <script>
            {% get_current_language as LANGUAGE_CODE %}
            var currentYear = moment().year().toString()
            yearRange = "1900:".concat(currentYear)
            var options = $.extend(
                {},
                $.datepicker.regional["{{ LANGUAGE_CODE }}"],
                { changeMonth: true, changeYear: true, yearRange: yearRange }
            );
            $.datepicker.setDefaults(options);
        </script>

        <!-- Bootstrap -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="https://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>

        <!-- Jquery-Validate -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/additional-methods.min.js"></script>

        <!-- Datetimepicker -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">


        {% block script_block %}{% endblock %}
    </body>
</html>
