<!DOCTYPE html>

{% extends 'base.html' %}

{% load staticfiles %}

{% block body_block %}
    <div class="page-header">
        <h1>{% load i18n %}{% trans "I need a bicycle!" %}</h1>
    </div>
    <h2>{% trans "Some informations we would like you to know:" %}</h2>
    <ul>
        <li><h2>{% trans "Volunteers welcome" %}</h2></li>
        <li><h2>{% trans "Keep smiling" %}</h2></li>
        <li><h2>...</h2></li>
    </ul>

    <a href="{% url 'register:index' %}"><h2>{% trans "Click here to register for a bike." %}</h2></a>
{% endblock %}
