<!DOCTYPE html>

{% extends 'base.html' %}

{% load staticfiles %}

{% block body_block %}
    <div class="page-header">
        <h1>{% load i18n %}{% trans "Welcome to bikes without borders!" %}</h1>
    </div>
    <h2>
    {% get_current_language as LANGUAGE_CODE %}
    {% get_available_languages as LANGUAGES %}
    {% get_language_info_list for LANGUAGES as languages %}
    
    {% trans "First choose a language!" %}<br><br>
    {% for language in languages %}
        <div class="form-group row">
            <div class="col-xs-4">
                <form action="{% url 'index' %}" method="post"
                class="post-form">
                    {% csrf_token %}            
                    <input name="language" type="hidden"
                    value="{{ language.code }}"/>
                    <button class="btn btn-info btn-lg btn-block" type="submit"
                    value="Submit">
                        {{ language.name_local }}
                    </button>
                </form>
            </div>
        </div><br>
    {% endfor %}
    </h2>
{% endblock %}
